<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
 http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
 version="2.1">
 
<persistence-unit name="juan">
 <provider>org.hibernate.ejb.HibernatePersistence</provider>
 <class>clases.Cartelera</class>
 <class>clases.Usuario</class>
 <class>clases.UsuarioOnline</class>
 <class>clases.PublicadorPermisos</class> 
 <class>clases.Admin</class>
 <class>clases.Publicacion</class>
 <class>clases.MisCarteleras</class>
 <class>clases.Comentario</class>
 <properties>
 <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
 <property name="hibernate.connection.password" value=""/>
 <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/cartelera"/>
 <property name="hibernate.connection.username" value="root" />
 <property name="hibernate.default_schema" value="stock" />
 <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
 </properties>
</persistence-unit>
</persistence>
